services:
  sns-app:
    container_name: sns-app
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - .:/workspace/app # 로컬 프로젝트 디렉토리를 컨테이너 작업 디렉토리(/app)로 마운트
      - app_node_modules:/workspace/app/node_modules  # node_modules는 별도의 볼륨으로 분리
    environment:
      - CHOKIDAR_USEPOLLING=true # 핫 리로딩 파일 변경 감지
      - HOST=0.0.0.0 # 외부 접근 허용
    ports:
      - "5173:5173"
      - "5200:5200"
    command: ["npm", "run", "dev"]

volumes:
  app_node_modules: